@font-face {
    font-family: "MonoLisa";
    src: local("./monolisa.ttf"),
        format('ttf');
}


body {
  margin: 0;
  font-family: "monolisa", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
